*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f4f4f4;
    padding: 30px;
}
.navbar{
    background:#111;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo{
    font-size:24px;
    font-weight:600;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:20px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:500;
}

.nav-links a:hover{
    color:#00bcd4;
}

.buy-btn{
    width:100%;
    padding:10px;
    border:none;
    background:#28a745;
    color:white;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
    margin-top:10px;
}

.buy-btn:hover{
    background:#218838;
}

.contact{
    background:#fff;
    padding:40px;
    margin-top:40px;
    text-align:center;
    border-radius:10px;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card{
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-content{
    padding: 15px;
}

.card-content h3{
    font-size: 18px;
    margin-bottom: 10px;
    color: #222;
}

.price{
    color: green;
    font-size: 20px;
    font-weight: bold;
}
.footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.footer p{
    margin: 0;
}

